binance-connector==3.5.0
pandas==2.2.2
numpy==1.26.4
python-telegram-bot==20.9
requests==2.32.3
TA-Lib==0.4.28
xgboost==2.0.3
tensorflow==2.15.0
transformers==4.41.1
scikit-learn==1.5.0
python-dotenv==1.0.0
